 
<div class="animated fadeIn">
  
  <div class="col-lg-12" >
      <div class="card">
      
          <div class="w3-bar"> 
      <div class="page-header-title">
          <div class="d-inline">
           <img src="/assets/img/avatars/logo.jpg" alt="SPCL infotech" WIDTH=150 HEIGHT=100>
          <span align="right"><font size="12"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SPCL INFOTECH SERVICES PVT LTD</b></font></span>
          <br>
        <br>
          <img src="/assets/img/avatars/Slider.jpg" alt="SPCL infotech" WIDTH=1213 HEIGHT=500>
          <!-- <span align="left"><font size="5"><i><font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grow Your Business Using The Lastest Technology Trends...</font></i></font></span> -->
            <br>
            <br>
              <h4 align="center"><strong> Enterprise Resource Planning system</strong></h4>
              <br>
              <span text-align="justify"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computers have become so complex and common place in organizations. It is much easier to integrate all of the data and processing software modules and hardware into one large unit that is easier to access and control. This is called Enterprise Resource Planning, or ERP. Normally ERP systems use the same database throughout an entire company to store various types of data for different computerized functions. The first developed, ERP system was used only for large manufacturing companies. Today, they benefit all sizes of companies, even though, that are quite small.
                <br>
            <br>
                <p>One of the application in ERP is <Strong>Labour Contract Management System (LCMS).</Strong> The Online Contract Labor Management System is based on Biometric Fingerprint Technology where all the labour will be registered with their Fingerprint and other details which can be used for verification as well and only the authorized labours will enter the premise based on the quota defined and approved by the companies Higher Authorities through the system itself.</p>
                 <p> This will help them in a big way to manage the data of all the labours to avoid any fraud, get the proper manpower as required and manage them efficiently through the system and eliminate the improper billing by contractors completely as payment will be done against system generated bill based on the number of labours supplied by a particular contractors and system calculated man hour work done by a particular labour. </p>
              </span> 
              <br>
              <br>
              <br>
              <br>
          </div>
      </div>
  </div>    
  </div>
  


</div>
</div>
