.table1{
    background-color:lightblue ;
    

}

body, html {
    height: 50%;
    margin: 0;
  }
  
  .bg {
   
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .col-md-14{
    
    max-width: 150.66666667%;
}
  .button{
      color: lightblue;
  }
