<html>
  <body background="assets/img/avatars/emp.jpg">
  <div class="bg" ></div>
<hr>
<div class="app-body">
<main class="main d-flex ">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card mx-12">
          <div class="card-body p-10 align-items-center">
              <div class="w3-bar">
                  
                      <h4 align="center"> Labour Annual Shift: </h4>
                   <!-- <h5 align="center">	Neha Sawami </h5>   -->
                      <!-- <h5 align="center"> Morning </h5> -->
                  
                  <div class="row">
                      <div class="col-sm-12">
                        <table class="table  invoice-detail-table">
                            <thead>
                                <tr class="thead-default">
                                    <th>Month</th>
                                    <th>Shift-1</th>
                                    <th>Shift-2</th>
                                    <th>Shift-3</th>
                                    <!-- <th>Other Leave</th> -->
                                </tr>
                            </thead>
                            <tbody>                                 
                                <tr>
                                    <td>Jan</td>
                                   <td>2</td>
                                    <td>1</td>
                                     <td>1</td>
                                     <!-- <td>0</td> -->
                                </tr>
                                 <tr>
                                    <td>Feb</td>
                                  <td>1</td>
                                    <td>2</td>
                                     <td>1</td>
                                     <!-- <td>1</td> -->
                                </tr>  
                                <tr>
                                    <td>March</td>
                                  <td>1</td>
                                  <td>1</td>
                                   <td>2</td>
                                   <!-- <td>4</td> -->
                                </tr>   
                                 <tr>
                                    <td>April</td>
                                  <td>1</td>
                                  <td>2</td>
                                   <td>1</td>
                                   <!-- <td>0</td> -->
                                </tr>   
                                <tr>
                                    <td>May</td>
                                  <td>2</td>
                                  <td>1</td>
                                   <td>1</td>
                                   <!-- <td>0</td> -->
                                </tr>  
                            </tbody>
                        </table>
                   
              <!-- <div class="row">
                <div class="col-sm-12">
                    <table class="table1 table-responsive invoice-table invoice-total">
                        <tbody>
                            <tr>
                                <th>Total salary :</th>
                                <td>450</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
                            -->
                    </div>
                </div>
              </div>
                
              
            
          </div>
          <div class="card-footer p-4">
            <div class="row">  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
</body>
</html>
