<!-- <head>
  <style>
    .card-header {
      background-color: #BFC9CA;

    }
  </style>
</head>
<div class="animated fadeIn">
  <div class="row">
      <div class>         
          <a [routerLink] = "'/lcm/Labour'"> <button type="button" class="btn btn-pill btn-block btn-primary">Back</button> </a>
      </div> 
 
    <div class="col-md-12">
        
      <div class="card">
        <div class="card-header">
          <h3>Labour Details</h3>
        </div>
        <div class="card-body">
          <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Labour Code:-</label>
              <div class="col-md-3">
                <input id="lab_code" name="lab_code" type="text" class=" form-control" value="LAB 1" ngModel>

              </div>
              <div class="  col-sm-5 col-md-5 col-lg-5 col-xl-5 ">
                <input type="file" class="form-control" id="cd_profile_photo" name="lb_profile_photo">
                <img class="d-block img-fluid img-thumbnail" id="lb_profile_photo_view" style="height: 150px;"
                  src="<%=contextPath %>/resources/cd_img/${contract.cd_img_code }" alt="Preview Photo here....">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="  col-sm-2 col-md-2 col-lg-3 col-xl-2">
                    <label for="cd_fname" class="block">Full Name:-</label>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <select name="lab_title" id="lab_title" class="form-control" required
                      data-bv-notempty-message="Please select title." ngModel>
                      <option value="">---Select Title---</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Miss.">Miss.</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input id="lab_fname" name="lab_fname" type="text" class=" form-control" placeholder="First Name"
                      required data-bv-notempty-message="Please enter first name." ngModel>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input id="lab_mname" name="lab_mname" type="text" class=" form-control" placeholder="Middle Name"
                      required data-bv-notempty-message="Please enter middle name." ngModel>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input id="lab_lname" name="lab_lname" type="text" class=" form-control" placeholder="Last Name"
                      required data-bv-notempty-message="Please enter last name." ngModel>
                  </div>
                </div>
              </div>

            </div>

            <div class="form-group row">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                <label for="emp_gender" class="block">Gender:-</label>
              </div>
              <div class="form-group form-radio col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" class="form_control" name="lab_gender_1" id="lab_gender_1" value="1">
                    <i class="helper" ngModel></i>Male
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" class="form_control" name="lab_gender_1" id="lab_gender_2" value="2">
                    <i class="helper" ngModel></i>Female
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" class="form_control" name="lab_gender" id="lab_gender_3" value="3" />
                    <i class="helper" ngModel></i>Transgender
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="date-input">Date Of Birth:- </label>
              <div class="col-md-3">
                <input class="form-control" id="lab_date" type="date" name="lab_date" placeholder="date" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Mobile No:-</label>
              <div class="col-md-3">
                <input id="lab_mobile_no" name="lab_mobile_no" type="text" class=" form-control" required
                  data-bv-notempty-message="Please enter mobile number." ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="select1">Marital Status:-</label>
              <div class="col-md-3">
                <select id="Marital" name="Marital" class="form-control" ngModel>
                  <option value="Please select">Please select</option>
                  <option value="1">Single</option>
                  <option value="2">Married</option>
                  <option value="3">Divorce</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Correspondence Address:-</label>
              <div class="col-md-3">
                <input id="corr_line1" name="corr_line1" type="text" class=" form-control" required
                  data-bv-notempty-message="line1...." placeholder="Add2" ngModel>

              </div>
              <div class="col-md-3">
                <input id="corr_line2" name="corr_line2" type="text" class=" form-control" required
                  data-bv-notempty-message="line2...." placeholder="Add2" ngModel>

              </div>
              <div class="col-md-3">
                <select id="City" name="City" class="form-control" ngModel>
                  <option value="Please select"> select City</option>
                  <option value="1">Pune</option>
                  <option value="2">Jalgaon</option>
                  <option value="3">Nasik</option>
                </select>
              </div>

            </div>


            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="date-input">Joining Date:- </label>
              <div class="col-md-3">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="select1">Contractor:-</label>
              <div class="col-md-3">
                <select id="Contractor" name="Contractor" class="form-control" ngModel>
                  <option value="Please select">Please select Contractor</option>
                  <option value="1">Single</option>
                  <option value="2">Married</option>
                  <option value="3">Divorce</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="select1">Department:-</label>
              <div class="col-md-3">
                <select id="Department" name="Department" class="form-control" ngModel>
                  <option value="Please select">Please select Department</option>
                  <option value="1">Single</option>
                  <option value="2">Married</option>
                  <option value="3">Divorce</option>
                </select>
              </div>
            </div>
      
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Previous</button>
          <button type="submit"  value= "submit" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Submit</button>
        </div>
      
      </form>
    </div>
    </div>
      </div>
    </div>
  </div> -->
