<head>
  <style>
    .card-header {
      background-color: #BFC9CA;

    }
  </style>
</head>
<div class="animated fadeIn">
  <div class="row">
      
    <div class="col-md-12">
          
      <div class="card">
          <div class="card-footer">
              <a [routerLink] = "'/lcm/Contractor'"> <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Back </button></a>
          </div>
        <div class="card-header">
          <h3>Contractor Details</h3>
        </div>
        <div class="card-body">
          <form #editform = "ngForm" (ngSubmit) = "onClickSubmit(editform.value,13)">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Contractor Code:-</label>
              <div class="col-md-3">
                <input id="cd_code" name="cd_code" type="text" class=" form-control" value="{{cd_code}}" [(ngModel)]="cd_code">

              </div>
              <div class="  col-sm-5 col-md-5 col-lg-5 col-xl-5 ">
                <input type="file" class="form-control" id="cd_profile_photo" name="cd_profile_photo">
                <img class="d-block img-fluid img-thumbnail" id="cd_profile_photo_view" style="height: 150px;"
                  src="<%=contextPath %>/resources/cd_img/${contract.cd_img_code }" alt="Preview Photo here....">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="  col-sm-2 col-md-2 col-lg-3 col-xl-2">
                    <label for="cd_fname" class="block">Full Name:-</label>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <select name="cd_title" id="cd_title" class="form-control" required
                      data-bv-notempty-message="Please select title." ngModel>
                      <option value="">---Select Title---</option>
                      <option value="M/S.">M/S</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Miss.">Miss.</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input id="cd_fname" name="cd_fname" type="text" class=" form-control" placeholder="First Name"
                      required data-bv-notempty-message="Please enter first name." ngModel>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input id="cd_mname" name="cd_mname" type="text" class=" form-control" placeholder="Middle Name"
                      required data-bv-notempty-message="Please enter middle name." ngModel>
                  </div>
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input id="cd_lname" name="cd_lname" type="text" class=" form-control" placeholder="Last Name"
                      required data-bv-notempty-message="Please enter last name." ngModel>
                  </div>
                </div>
              </div>

            </div>

            <div class="form-group row">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                <label for="emp_gender" class="block">Gender:-</label>
              </div>
              <div class="form-group form-radio col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" class="form_control" name="cd_gender" id="cd_gender_1" value="1">
                    <i class="helper" ngModel></i>Male
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" class="form_control" name="cd_gender" id="cd_gender_2" value="2">
                    <i class="helper" ngModel></i>Female
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" class="form_control" name="cd_gender" id="cd_gender_3" value="3" />
                    <i class="helper" ngModel></i>Transgender
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="date-input">Date Of Birth:- </label>
              <div class="col-md-3">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Mobile No:-</label>
              <div class="col-md-3">
                <input id="cd_mobile_no" name="cd_mobile_no" type="text" class=" form-control" required
                  data-bv-notempty-message="Please enter mobile number." ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="select1">Marital Status:-</label>
              <div class="col-md-3">
                <select id="select1" name="select1" class="form-control" ngModel>
                  <option value="Please select">Please select</option>
                  <option value="1">Single</option>
                  <option value="2">Married</option>
                  <option value="3">Divorce</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Correspondence Address:-</label>
              <div class="col-md-3">
                <input id="corr_line1" name="corr_line1" type="text" class=" form-control" required
                  data-bv-notempty-message="line1...." placeholder="Add2" ngModel>

              </div>
              <div class="col-md-3">
                <input id="corr_line2" name="corr_line2" type="text" class=" form-control" required
                  data-bv-notempty-message="line2...." placeholder="Add2" ngModel>

              </div>
              

            </div>

         
            <div class="card-footer">
              <input type="submit" value="update" class="btn btn-info mr-1" data-toggle="modal" (click)="infoModal.show()">
              </div>
      </form>
    </div>
      </div>

    </div>
   
  </div>
 
</div>


<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Saved</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your data saved successfully.&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
        <a [routerLink] = "'/lcm/Contractor'">  <button type="button" class="btn btn-info">Okay</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
