<ng-template #cnt let-modal>
  <div class="modal-header" style="background-color: lightsteelblue;">
    <h4 class="modal-title" id="modal-basic-title" >Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
        <div class="card-card">
            <div class="card-body">
              <form #import = "ngForm" (ngSubmit) = "Import(import.value)">
                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                          <div class="  col-sm-2 col-md-2 col-lg-3 col-xl-2">
                            <label for="dept" class="block">Department:-</label>
                          </div>
                          <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <select (click)="OnChange1()" name="department_dept_id"  ngModel>  
                              <option value="0">--Select--</option>  
                              <option *ngFor="let dept of myresponse1"  
                                      value={{dept}}>  
                                  {{dept}}  
                              </option>  
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                          <div class="  col-sm-2 col-md-2 col-lg-3 col-xl-2">
                            <label for="cd_fname" class="block">Shift Time:-</label>
                          </div>
                          <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <select (click)="OnChange2()" name="shift_id"  ngModel>  
                              <option value="0">--Select--</option>  
                              <option *ngFor="let labour of myresponse2"  
                                      value={{labour}}>  
                                  {{labour}}  
                              </option>  
                            </select> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                          <div class="  col-sm-2 col-md-2 col-lg-3 col-xl-2">
                            <label for="cd_fname" class="block">Labour Requirement:-</label>
                          </div>
                          <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <input id="labour_required" name="labour_required" type="text" class=" form-control" ngModel>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="update" class="btn btn-info mr-1" data-toggle="modal" (click)="infoModal.show()">
                        </div>
              </form>
            </div>
          </div>
  </div>
</ng-template>


<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="w3-bar">
        <div class="input-group">
          <div class="row align-items-center">
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
               <button type="button"
                  class="btn btn-pill btn-block btn-primary" (click)="save();">Create</button> 
            </div>
            <!-- <a [routerLink]="'/lcm/prerequisite-create'"> -->
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button type="button" class="btn btn-pill btn-block btn-primary">Import</button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <a [routerLink]="'/leaves/mail'"> <button type="button"
                  class="btn btn-pill btn-block btn-primary" (click)="getMail();">Email</button></a>
            </div>
            <div class="form-group" >
                            
              <div class="controls" >
                  <div class="input-group" >

                  <input id="appendedInputButtons" size="16" class="form-control" type="text">
                  <span class="input-group-append">
                  
                    <button class="btn btn-secondary" type="button" >Search</button>
                   
                  </span>
                </div>
              </div>
            </div>
    <!-- <div id="fetchbtn">
      <button type="button" class="btn btn-pill btn-block btn-primary" (click)="getAllLabours();">Show List</button>
    </div> -->
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="card-header">

        <i class="fa fa-align-justify"></i> Prerequisite Reports

      </div>
      <div class="card-body">
          <table class="table table-bordered table-hover">
              <thead>
               
                <th>DATE</th>
                <th>Department</th>
                <th>Shifts</th>
                <th>Labour Requriement</th>
               <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let HrRequirement of myresponse">
                 
                  <td>{{HrRequirement.hr_created_date}}</td>
                  <td>{{HrRequirement.hr_department}}</td>
                  <td>{{HrRequirement.hr_shifts  }}</td>
                  <td>{{HrRequirement.labour_required}}</td> 
                  <td><button type="button" class="btn btn-pill btn-block1 btn-primary" (click)="updateUser(HrRequirement);">UPDATE</button> 
                  <button type="button" class="btn btn-pill btn-block1 btn-primary" (click)="viewUser(HrRequirement);">VIEW</button> </td>


                  <!-- <td><img src="{{employee.companylogo}}" alt="Company logo" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td> -->
                </tr>
              </tbody>  
            </table>
<!--       
            <table border="1" style="width: 33%">
              <tr>
            
                <th>First_Name</th>
                <th>M_Name</th>
              </tr>
              <tr *ngFor="let emp of employees">
               
                <td>{{ emp.lab_fname }}</td>
                <td>{{ emp.lab_mname }}</td>
              </tr>
            </table> -->
        <!-- <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Department </th>
              <th>Shift</th>
              <th>Number of Labour Required</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 1</td>
              <td>Dispatch</td>
              <td>Morning</td>
              <td>200</td>
              
            </tr>
            <tr>
              <td>2 </td>
              <td>Packaging</td>
              <td>Evening</td>
              <td>100</td>
             
            </tr>
            <tr>
              <td>3 </td>
              <td>Raw Store</td>
              <td>Night</td>
              <td>50</td>
              
            </tr>
          </tbody>
        </table> -->
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>